@using Donations.Entities.Medical
@model RequestViewModel

<div class="container">
    <h1 class="mb-4">@Model.Request.DonationCenter.Name Request</h1>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card mb-3 hover-shadow">
                <div class="card-body">
                    <h5 class="card-title">@Model.Request.DonationCenter.Name</h5>
                    <p class="card-text">
                        <i class="bi bi-geo-alt"></i> @Model.Request.DonationCenter.Location.Name<br>
                        <i class="bi bi-calendar-event"></i>@Model.Request.Date.ToString("d MMM yyyy")<br>
                        <i class="bi bi-droplet"></i> Needed blood types:
                        @string.Join(", ", Model.Request.BloodTypes.Select(bt => bt.ToHumanReadableString()))<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            @if (!Model.UserHasApplied)
            {
                <form method="post" action="/Requests/@Model.Request.Id/Apply">
                    <button type="submit" class="btn btn-danger btn-lg">Apply</button>
                </form>
            }
            else
            {
                <button type="button" class="btn btn-danger btn-lg" disabled>Pending</button>
            }
        </div>
    </div>
    @if (Model.ShowAppliedModal)
    {
        // we "fake" a real closeable modal by just making the close button link us back to the base page
        <div class="modal show d-block" id="appliedModal" tabindex="-1" aria-labelledby="appliedModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="appliedModalLabel">Appointment Successful</h5>
                    </div>
                    <div class="modal-body">
                        <p>We will notify you once your appointment is accepted or rejected.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/Requests/@Model.Request.Id" class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop show"></div>
    }
</div>