@using Donations.Entities.Medical
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AddRequestFormModel

<div class="container">
    <div class="d-flex align-items-center gap-3 mb-4">
        <a href="/CenterDashboard/Index" class="text-danger text-decoration-none" aria-label="Back to Dashboard">
            <i class="fas fa-arrow-left fa-lg"></i>
            <span class="visually-hidden">Back to Dashboard</span>
        </a>
        <h1 class="mb-0">Add Request</h1>
    </div>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
    <form method="post">
        <div class="mb-3 text-start">
            <label for="bloodTypes" class="form-label">Blood Types</label>
            <select id="bloodTypes" name="bloodTypes" multiple class="form-select">
                @foreach (var bloodType in Enum.GetValues<BloodType>())
                {
                    <option value="@bloodType" selected="@Model.BloodTypes.Contains(bloodType)">
                        @bloodType.ToHumanReadableString()</option>
                }
            </select>
        </div>
        <div class="mb-3 text-start">
            <label for="urgencyLevel" class="form-label">Urgency Level</label>
            <select id="urgencyLevel" name="UrgencyLevel" class="form-select">
                @foreach (var level in Enum.GetValues<UrgencyLevel>())
                {
                    <option value="@level" selected="@(Model.UrgencyLevel == level)">@level</option>
                }
            </select>
        </div>
        <div class="mb-3 text-start">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="@Model.Date.ToString("yyyy-MM-dd")">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>